@import url("https://fonts.googleapis.com/css?family=Roboto");
.divalignment, body .subheading, body #stripe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnalignment, body .gamelevel, body .modebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 255, 0.1);
  font-family: "Roboto";
}

body .subheading h2 {
  width: auto;
  height: auto;
  margin: 2px;
  padding: 2px;
  font-size: 30px;
  color: blueviolet;
  background: transparent;
}

body .gamelevel {
  width: 515px;
  height: auto;
  margin: auto;
  padding: 2;
  border: 1px solid #0e1b26;
  box-shadow: 4px 4px rgba(101, 109, 116, 0.75);
  background-color: #c3c3c3;
}

body .modebox {
  border: 1px solid #0e1b26;
  background-color: #c3c3c3;
  box-shadow: 4px 4px rgba(101, 109, 116, 0.75);
}

body #stripe {
  background-color: white;
}

body #stripe button {
  border: solid #0e1b26 1px;
  box-shadow: 0 0 1px 1px rgba(101, 109, 116, 0.75);
  background: rgba(0, 255, 0, 0.8);
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: #0a82b4;
  letter-spacing: 1px;
  font-size: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}

body #stripe .selected {
  color: white;
  background-color: #0a82b4;
}

body #stripe span#message {
  display: inline-block;
  width: 20%;
}

body h1 {
  width: auto;
  height: auto;
  margin: 0;
  padding: "20px 0";
  text-align: center;
  line-height: 1.1;
  font-weight: normal;
  color: white;
  background: #0a82b4;
  text-transform: uppercase;
}

body h1 span#mainHeading {
  font-size: 35px;
  color: RGB(205, 92, 92, 0.9);
}

body h1 #colorDisplay {
  font-size: 18px;
}

body #container {
  margin: 20px auto;
  max-width: 600px;
}

body #container .square {
  width: 30%;
  height: auto;
  margin: 1.66%;
  padding: 0;
  background: violet;
  padding-bottom: 30%;
  float: left;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  cursor: pointer;
}

body #container .square :hover {
  border-radius: 15%;
}

@media only screen and (min-width: 768px) {
  body h1 span #mainHeading {
    font-size: 35px;
  }
  body h1 span #colorDisplay {
    font-size: 25px;
  }
  body #stripe button {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  body h1 span #mainHeading {
    font-size: 45px;
  }
  body h1 span #colorDisplay {
    font-size: 30px;
  }
}
